# shell scripts
* linguist-vendored
latex2eps linguist-language=Shell
makeps4mgp linguist-language=Shell
mgp2pdf linguist-language=Shell
mgpresize linguist-language=Shell
pspage linguist-language=Perl

